name: Build LaTeX document

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build_latex:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: report/main.tex
          latexmk_use_xelatex: false
          latexmk_shell_escape: false
          work_in_root_file_dir: true

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: report-pdf
          path: report/main.pdf
